<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="quanlibanhang.Properties.Settings.qlbanhangConnectionString"
            connectionString="Data Source=LAPTOP-75SKL5D0;Initial Catalog=qlbanhang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>